rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function tenantId() {
      return request.auth.token.tenantId != null
        ? request.auth.token.tenantId
        : "tenant-" + request.auth.uid;
    }

    function isTenantRead() {
      return signedIn() && resource.data.tenantId == tenantId();
    }

    function isTenantWrite() {
      return signedIn() && request.resource.data.tenantId == tenantId();
    }

    match /companies/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }

    match /currentAccounts/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }

    match /employees/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }

    match /hourRecords/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }

    match /distanceTrips/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }

    match /users/{documentId} {
      allow read, update, delete: if isTenantRead();
      allow create: if isTenantWrite();
    }
  }
}
